<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.netrouter.dao.DevLiveResourceMapper" >
  <resultMap id="BaseResultMap" type="com.phicomm.netrouter.model.DevLiveResource" >
    <id column="resourceId" property="resourceid" jdbcType="BIGINT" />
    <id column="deviceId" property="deviceid" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="bitrate" property="bitrate" jdbcType="INTEGER" />
    <result column="maxSlaveCnt" property="maxslavecnt" jdbcType="INTEGER" />
    <result column="currentSlaveCnt" property="currentslavecnt" jdbcType="INTEGER" />
    <result column="online" property="online" jdbcType="BIT" />
    <result column="firstTime" property="firsttime" jdbcType="TIMESTAMP" />
    <result column="lastTime" property="lasttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    resourceId, deviceId, url, bitrate, maxSlaveCnt, currentSlaveCnt, online, firstTime, 
    lastTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.phicomm.netrouter.model.DevLiveResourceKey" >
    select 
    <include refid="Base_Column_List" />
    from dev_live_resource
    where resourceId = #{resourceid,jdbcType=BIGINT}
      and deviceId = #{deviceid,jdbcType=BIGINT}
  </select>
  <select id="selectLiveResByPrimaryKey" resultType="com.phicomm.netrouter.model.DevLiveResource" parameterType="java.lang.Long" >
    select *
    from dev_live_resource
    where resourceId = #{resourceid,jdbcType=BIGINT} and online = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.phicomm.netrouter.model.DevLiveResourceKey" >
    delete from dev_live_resource
    where resourceId = #{resourceid,jdbcType=BIGINT}
      and deviceId = #{deviceid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.phicomm.netrouter.model.DevLiveResource" >
    insert into dev_live_resource (resourceId, deviceId, url, 
      bitrate, maxSlaveCnt, currentSlaveCnt, 
      online, firstTime, lastTime
      )
    values (#{resourceid,jdbcType=BIGINT}, #{deviceid,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, 
      #{bitrate,jdbcType=INTEGER}, #{maxslavecnt,jdbcType=INTEGER}, #{currentslavecnt,jdbcType=INTEGER}, 
      #{online,jdbcType=BIT}, #{firsttime,jdbcType=TIMESTAMP}, #{lasttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.phicomm.netrouter.model.DevLiveResource" >
    insert into dev_live_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        resourceId,
      </if>
      <if test="deviceid != null" >
        deviceId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="bitrate != null" >
        bitrate,
      </if>
      <if test="maxslavecnt != null" >
        maxSlaveCnt,
      </if>
      <if test="currentslavecnt != null" >
        currentSlaveCnt,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="firsttime != null" >
        firstTime,
      </if>
      <if test="lasttime != null" >
        lastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        #{resourceid,jdbcType=BIGINT},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="bitrate != null" >
        #{bitrate,jdbcType=INTEGER},
      </if>
      <if test="maxslavecnt != null" >
        #{maxslavecnt,jdbcType=INTEGER},
      </if>
      <if test="currentslavecnt != null" >
        #{currentslavecnt,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        #{online,jdbcType=BIT},
      </if>
      <if test="firsttime != null" >
        #{firsttime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phicomm.netrouter.model.DevLiveResource" >
    update dev_live_resource
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="bitrate != null" >
        bitrate = #{bitrate,jdbcType=INTEGER},
      </if>
      <if test="maxslavecnt != null" >
        maxSlaveCnt = #{maxslavecnt,jdbcType=INTEGER},
      </if>
      <if test="currentslavecnt != null" >
        currentSlaveCnt = #{currentslavecnt,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=BIT},
      </if>
      <if test="firsttime != null" >
        firstTime = #{firsttime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null" >
        lastTime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where resourceId = #{resourceid,jdbcType=BIGINT}
      and deviceId = #{deviceid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phicomm.netrouter.model.DevLiveResource" >
    update dev_live_resource
    set url = #{url,jdbcType=VARCHAR},
      bitrate = #{bitrate,jdbcType=INTEGER},
      maxSlaveCnt = #{maxslavecnt,jdbcType=INTEGER},
      currentSlaveCnt = #{currentslavecnt,jdbcType=INTEGER},
      online = #{online,jdbcType=BIT},
      firstTime = #{firsttime,jdbcType=TIMESTAMP},
      lastTime = #{lasttime,jdbcType=TIMESTAMP}
    where resourceId = #{resourceid,jdbcType=BIGINT}
      and deviceId = #{deviceid,jdbcType=BIGINT}
  </update>
</mapper>