<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.netrouter.dao.Transfer_resourceMapper" >
  <resultMap id="BaseResultMap" type="com.phicomm.netrouter.model.Transfer_resource" >
    <id column="deviceId" property="deviceid" jdbcType="BIGINT" />
    <id column="src" property="src" jdbcType="VARCHAR" />
    <id column="resourceId" property="resourceid" jdbcType="BIGINT" />
    <result column="online" property="online" jdbcType="BIT" />
    <result column="totalBytes" property="totalbytes" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    deviceId, src, resourceId, online, totalBytes, startTime, endTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.phicomm.netrouter.model.Transfer_resourceKey" >
    select 
    <include refid="Base_Column_List" />
    from transfer_resource
    where deviceId = #{deviceid,jdbcType=BIGINT}
      and src = #{src,jdbcType=VARCHAR}
      and resourceId = #{resourceid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.phicomm.netrouter.model.Transfer_resourceKey" >
    delete from transfer_resource
    where deviceId = #{deviceid,jdbcType=BIGINT}
      and src = #{src,jdbcType=VARCHAR}
      and resourceId = #{resourceid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.phicomm.netrouter.model.Transfer_resource" >
    insert into transfer_resource (deviceId, src, resourceId, 
      online, totalBytes, startTime, 
      endTime)
    values (#{deviceid,jdbcType=BIGINT}, #{src,jdbcType=VARCHAR}, #{resourceid,jdbcType=BIGINT}, 
      #{online,jdbcType=BIT}, #{totalbytes,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.phicomm.netrouter.model.Transfer_resource" >
    insert into transfer_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        deviceId,
      </if>
      <if test="src != null" >
        src,
      </if>
      <if test="resourceid != null" >
        resourceId,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="totalbytes != null" >
        totalBytes,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        #{deviceid,jdbcType=BIGINT},
      </if>
      <if test="src != null" >
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="resourceid != null" >
        #{resourceid,jdbcType=BIGINT},
      </if>
      <if test="online != null" >
        #{online,jdbcType=BIT},
      </if>
      <if test="totalbytes != null" >
        #{totalbytes,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phicomm.netrouter.model.Transfer_resource" >
    update transfer_resource
    <set >
      <if test="online != null" >
        online = #{online,jdbcType=BIT},
      </if>
      <if test="totalbytes != null" >
        totalBytes = #{totalbytes,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where deviceId = #{deviceid,jdbcType=BIGINT}
      and src = #{src,jdbcType=VARCHAR}
      and resourceId = #{resourceid,jdbcType=BIGINT}
  </update>
  
  <update id="updateBysrcAndresId" parameterType="com.phicomm.netrouter.model.Transfer_resource" >
    update transfer_resource
    <set >
      <if test="online != null" >
        online = #{online,jdbcType=BIT},
      </if>
	  <if test="totalbytes != null" >
        totalBytes = #{totalbytes,jdbcType=VARCHAR},
      </if>
    </set>
    where src = #{src,jdbcType=VARCHAR}
      and resourceId = #{resourceid,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.phicomm.netrouter.model.Transfer_resource" >
    update transfer_resource
    set online = #{online,jdbcType=BIT},
      totalBytes = #{totalbytes,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP}
    where deviceId = #{deviceid,jdbcType=BIGINT}
      and src = #{src,jdbcType=VARCHAR}
      and resourceId = #{resourceid,jdbcType=BIGINT}
  </update>
</mapper>